<div class="products">
    <div class="product-page">
        <a href="/">Voltar</a>
        <h1>{{product.name}}</h1>
        <p><span>Preço:</span> R${{product.price}}</p>
        <p><span>Descrição:</span> {{product.description}}</p>
    </div>
</div>